name: Swift

on:
  push:
    branches: [main, next]
    paths:
      - "Sources/**"
      - "Tests/**"
      - "Package.*"
  pull_request:
    branches: [main, next]
    paths:
      - "Sources/**"
      - "Tests/**"
      - "Package.*"

jobs:
  build:
    name: "Build and test Swift (Xcode ${{ matrix.xcode }})"
    strategy:
      matrix:
        xcode:
          - "13.0"
    # Relay.swift builds fine on macOS 10.15, but the tests won't run on it, because RelaySwiftUI
    # links StateObject which isn't present in SwiftUI on macOS 10.15.
    runs-on: macos-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
    steps:
      - uses: actions/checkout@v2
      - name: Get Swift version
        id: swift-version
        run: |
          echo "::set-output name=version::$(swift -version | shasum | cut -d' ' -f 1)"
        shell: bash
      - name: Cache SwiftPM dependencies
        uses: actions/cache@v2
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ steps.swift-version.outputs.version }}-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-${{ steps.swift-version.outputs.version }}-
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
